@import "global"

$left-pad: 40px
/* Breadcrumb */
#head
  .logo
    img
      width: 200px
  .breadcrumb
    padding-left: $left-pad
    clear: both

/* Menu */
.nav ul
  padding-left: $left-pad
  li
    list-style: none
    color: #FF8754
    padding: 2px 0
    margin: 0
    &:hover
      list-style: disc
    a
      color: #6B5C4F
      font:
        size: 16px
        family: "Gill Sans", Verdana, sans-serif
    a.active
      color: #FF8754
    ul
      padding-left: 15px
  li.active-trail
    list-style: disc


.region-preface
  .block-menu
    float: left
    width: 320px
    height: 350px
    ul
      margin-top: 60px
      padding-left: $left-pad
      li
        list-style: none
        color: #fff
        margin-left: 0
        padding: 5px 0
        &:hover
          list-style: disc
        a
          color: #fff
          font-size: 14px
#block-menu-menu-header-menu-a-z
  width: 100%
  height: auto
  ul
    margin: 0 auto
    padding-left: 0
    li
      float: left
      list-style: none
      @include span(1)
      padding: 0
      &:hover
        color: #F2AE7F
        //list-style: disc
        //list-style-position: outside
      a
        color: #6B5C4F
        display: block
        margin: 5px 0
        border: 1px solid
        border-color: transparent #6B5C4F
        text-indent: $left-pad
        &:hover
          color: #F2AE7F
    li.first
      a
        border-left: none
    li.last
      a
        border-right: none
#footer
  ul
    width: 55%
    float: right
    padding: 0
    li
      float: right
      color: #E55300
      list-style: none
      padding: 0 3px 0 0
      &:hover
        list-style: disc
        list-style-position: inside
      a
        font-size: 10px
    li.active-trail
      list-style: disc

/* Search */

/* Preface */
.view-header-topics
  .views-row
    float: left
    position: relative
    a
      position: absolute
      top: 150px
      @include span(1)
      float: left
      z-index: 1
      .title
        background-color: #6B5C4F
        padding: 5px 0
        opacity: 0.85
        font-size: 16px
      span
        margin-left: $left-pad
    .image
      height: 200px
      clear: both
  a
    color: #fff

@import "topic-color"

/* Dummy Block */
@mixin dummy
  float: left
  height: 350px
  @include span(1)
#block-block-1
  @include dummy
  @include mieten
#block-block-2
  @include dummy
  @include immobilien_kompetenz

/* topic block */
#block-views-topic-image-block
  float: right
#block-views-topic-block
  float: left
  height: 50px
  @include span(1)
  .topic-name
    height: 48px
    margin-top: 1px
    color: #fff
    font-size: 18px
    //text-align: center
    span
      padding-top: 10px
      display: block
      margin-left: $left-pad

/* contact form */
.node-webform
  label
    width: 180px
    float: left
    margin-right: 0
  label.option
    float: none
  .form-radios
    margin-right: 0
  .form-type-radio
    margin-right: 0
    display: inline
  .form-textarea-wrapper
    margin-right: 0
  .input[type="text"]
    margin-right: 0
    width: 520px
  .input[type="submit"]
    float: right
    font-size: 16px
    color: #fff
    background-color: #FF5F00
    border: none
    margin-right: 20px
    padding: 2px 20px
  textarea
    width: 525px
    resize: none

/* download block */

/* artikel */

/* a-z */

