// Variables
$left-pad: 40px
$orange: #E55300

@import "global"

/* Breadcrumb */
#head
  .logo
    img
      width: 200px
  .breadcrumb
    padding: 10px 0 0 $left-pad
    clear: both

/* Menu */
.nav ul
  padding-left: $left-pad
  li
    list-style: none
    color: $orange
    padding: 2px 0
    margin: 0
    &:hover
      list-style: disc
    a
      color: #6B5C4F
      font:
        size: 16px
        family: "Gill Sans", Verdana, sans-serif
    a.active
      color: $orange
    ul
      padding-left: 15px
  li.active-trail
    list-style: disc


.region-preface
  .block-menu
    float: left
    width: 320px
    height: 350px
    ul
      margin-top: 60px
      padding-left: $left-pad
      li
        list-style: none
        color: #fff
        margin-left: 0
        padding: 5px 0
        &:hover
          list-style: disc
        a
          color: #fff
          font-size: 14px
#block-menu-menu-header-menu-a-z
  width: 100%
  height: auto
  ul
    margin: 0 auto
    padding-left: 0
    li
      float: left
      list-style: none
      width: 320px - $left-pad
      margin-left: $left-pad
      padding: 0
      &:hover
        color: $orange
        list-style: disc
      a
        color: #6B5C4F
        display: block
        margin: 5px 0
        border-right: 1px solid #6B5C4F
        &:hover
          color: $orange
    li.first
      a
        border-left: none
    li.last
      a
        border-right: none
#footer
  #block-menu-menu-footer-menu
    float: right
    width: 50%
  ul
    float: right
    padding: 0
    li
      float: left
      list-style: none
      padding: 15px 0 0
      margin-left: 16px
      &:hover
        background: url(img/bullet.png) no-repeat center 0
      a
        font-size: 10px
        display: block
        line-height: 10px
      a:hover
        color: $orange
      a.active
        color: $orange
    li.active-trail
      background: url(img/bullet.png) no-repeat center 0
    li.first
      border-left: none

/* Search */

/* Preface */
.view-header-topics
  .views-row
    float: left
    position: relative
    a.title
      position: absolute
      top: 150px
      @include span(1)
      float: left
      z-index: 1
      .title
        background-color: #6B5C4F
        padding: 5px 0
        opacity: 0.85
        font-size: 16px
      span
        margin-left: $left-pad
    .image
      height: 200px
      clear: both
      position: relative
    .image.hide
      img
        display: none
  a
    color: #fff

@import "topic-color"

/* Dummy Block */
@mixin dummy
  float: left
  height: 350px
  @include span(1)
#block-block-1
  @include dummy
  @include mieten
#block-block-2
  @include dummy
  @include immobilien_kompetenz
#block-block-3
  @include dummy
  background-color: $orange

/* topic block */
#block-views-topic-image-block
  float: right
#block-views-topic-block
  float: left
  height: 50px
  @include span(1)
  .topic-name
    height: 49px
    margin-top: 1px
    color: #fff
    font-size: 18px
    //text-align: center
    span
      padding-top: 10px
      display: block
      margin-left: $left-pad
#block-views-non-topic-block
  @extend #block-views-topic-block
  .non-topic-name
    height: 48px
    background-color: $orange
    margin-top: 2px
    font-size: 18px
    color: #fff
    span
      display: block
      margin-left: 40px
      padding-top: 10px

/* contact form */
.node-webform
  label
    width: 180px
    float: left
    margin-right: 0
  label.option
    float: none
  .form-radios
    margin-right: 0
  .form-type-radio
    margin-right: 0
    display: inline
  .form-textarea-wrapper
    margin-right: 0
  .input[type="text"]
    margin-right: 0
    width: 520px
  .input[type="submit"]
    float: right
    font-size: 16px
    color: #fff
    background-color: #FF5F00
    border: none
    margin-right: 20px
    padding: 2px 20px
  textarea
    width: 525px
    resize: none

/* download block */

/* artikel page */
.node
  h2
    margin-bottom: 5px
  ul
    margin-top: 0
  p
    margin-top: 0
  table
    border-collapse: separate

/* a-z */
.ui-widget
  font-size: 13px
.ui-accordion .ui-accordion-header a
  font-size: 13px
