/* global style */
html {
  overflow: scroll;
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "Verdana", "sans-serif";
  font-size: 13px;
  line-height: 22px;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border: none;
}

h2 {
  color: #f2ae7f;
}

h3 {
  color: #f2ae7f;
}

.container {
  margin: 0 auto;
  padding-top: 20px;
}

#middle {
  clear: both;
}
#middle .nav {
  margin-top: 15px;
}
#middle .content {
  margin-top: 15px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.span1 {
  width: 320px;
}

.span2 {
  width: 640px;
}

.span3 {
  width: 960px;
}

/* Breadcrumb */
#head .logo img {
  width: 200px;
}
#head .breadcrumb {
  padding-left: 40px;
  clear: both;
}

/* Menu */
.nav ul {
  padding-left: 40px;
}
.nav ul li {
  list-style: none;
  color: #ff8754;
  padding: 2px 0;
  margin: 0;
}
.nav ul li:hover {
  list-style: disc;
}
.nav ul li a {
  color: #6b5c4f;
  font-size: 16px;
  font-family: "Gill Sans", Verdana, sans-serif;
}
.nav ul li a.active {
  color: #ff8754;
}
.nav ul li ul {
  padding-left: 15px;
}
.nav ul li.active-trail {
  list-style: disc;
}

.region-preface .block-menu {
  float: left;
  width: 320px;
  height: 350px;
}
.region-preface .block-menu ul {
  margin-top: 60px;
  padding-left: 40px;
}
.region-preface .block-menu ul li {
  list-style: none;
  color: white;
  margin-left: 0;
  padding: 5px 0;
}
.region-preface .block-menu ul li:hover {
  list-style: disc;
}
.region-preface .block-menu ul li a {
  color: white;
  font-size: 14px;
}

#block-menu-menu-header-menu-a-z {
  width: 100%;
  height: auto;
}
#block-menu-menu-header-menu-a-z ul {
  margin: 0 auto;
  padding-left: 0;
}
#block-menu-menu-header-menu-a-z ul li {
  float: left;
  list-style: none;
  width: 320px;
  padding: 0;
}
#block-menu-menu-header-menu-a-z ul li:hover {
  color: #f2ae7f;
}
#block-menu-menu-header-menu-a-z ul li a {
  color: #6b5c4f;
  display: block;
  margin: 5px 0;
  border: 1px solid;
  border-color: transparent #6b5c4f;
  text-indent: 40px;
}
#block-menu-menu-header-menu-a-z ul li a:hover {
  color: #f2ae7f;
}
#block-menu-menu-header-menu-a-z ul li.first a {
  border-left: none;
}
#block-menu-menu-header-menu-a-z ul li.last a {
  border-right: none;
}

#footer ul {
  width: 55%;
  float: right;
  padding: 0;
}
#footer ul li {
  float: right;
  color: #e55300;
  list-style: none;
  padding: 0 3px 0 0;
}
#footer ul li:hover {
  list-style: disc;
  list-style-position: inside;
}
#footer ul li a {
  font-size: 10px;
}
#footer ul li.active-trail {
  list-style: disc;
}

/* Search */
/* Preface */
.view-header-topics .views-row {
  float: left;
  position: relative;
}
.view-header-topics .views-row a {
  position: absolute;
  top: 150px;
  width: 320px;
  float: left;
  z-index: 1;
}
.view-header-topics .views-row a .title {
  background-color: #6b5c4f;
  padding: 5px 0;
  opacity: 0.85;
  font-size: 16px;
}
.view-header-topics .views-row a span {
  margin-left: 40px;
}
.view-header-topics .views-row .image {
  height: 200px;
  clear: both;
}
.view-header-topics a {
  color: white;
}

/* topic colors */
.color-0, .view-header-topics .title.color-0:hover {
  background-color: #ff5f00;
}

.color-1, .view-header-topics .title.color-1:hover {
  background-color: #ff8754;
}

.color-2, .view-header-topics .title.color-2:hover {
  background-color: #e55300;
}

.color-3, .view-header-topics .title.color-3:hover {
  background-color: #ffb300;
}

.color-4, .view-header-topics .title.color-4:hover {
  background-color: #ff9a00;
}

.color-5, .view-header-topics .title.color-5:hover {
  background-color: #fdc745;
}

#block-menu-menu-vermieten {
  background-color: #ff5f00;
}

#block-menu-menu-verkaufen {
  background-color: #ffb300;
}

#block-menu-menu-immobilienservice {
  background-color: #e55300;
}

#block-menu-menu-immobilienkompetenz {
  background-color: #fdc745;
}

#block-menu-menu-mieten {
  background-color: #ff8754;
}

#block-menu-menu-kaufen {
  background-color: #ff9a00;
}

#block-views-topic-block .vermieten {
  background-color: #ff5f00;
}
#block-views-topic-block .verkaufen {
  background-color: #ffb300;
}
#block-views-topic-block .immobilienservice {
  background-color: #e55300;
}
#block-views-topic-block .mieten {
  background-color: #ff8754;
}
#block-views-topic-block .kaufen {
  background-color: #ff9a00;
}
#block-views-topic-block .immobilienkompetenz {
  background-color: #fdc745;
}

/* Dummy Block */
#block-block-1 {
  float: left;
  height: 350px;
  width: 320px;
  background-color: #ff8754;
}

#block-block-2 {
  float: left;
  height: 350px;
  width: 320px;
  background-color: #fdc745;
}

/* topic block */
#block-views-topic-image-block {
  float: right;
}

#block-views-topic-block {
  float: left;
  height: 50px;
  width: 320px;
}
#block-views-topic-block .topic-name {
  height: 48px;
  margin-top: 1px;
  color: white;
  font-size: 18px;
}
#block-views-topic-block .topic-name span {
  padding-top: 10px;
  display: block;
  margin-left: 40px;
}

/* contact form */
.node-webform label {
  width: 180px;
  float: left;
  margin-right: 0;
}
.node-webform label.option {
  float: none;
}
.node-webform .form-radios {
  margin-right: 0;
}
.node-webform .form-type-radio {
  margin-right: 0;
  display: inline;
}
.node-webform .form-textarea-wrapper {
  margin-right: 0;
}
.node-webform .input[type="text"] {
  margin-right: 0;
  width: 520px;
}
.node-webform .input[type="submit"] {
  float: right;
  font-size: 16px;
  color: white;
  background-color: #ff5f00;
  border: none;
  margin-right: 20px;
  padding: 2px 20px;
}
.node-webform textarea {
  width: 525px;
  resize: none;
}

/* download block */
/* artikel */
/* a-z */
